name: "Schedule job"

on:
  schedule:
    - cron: "0 0 * * *"  # Runs daily at midnight UTC

jobs:
  run-script:
    runs-on: windows-latest
    steps:
      - name: Print message
        run: echo "Schedule workflow"
